{
    "openapi": "3.0.0",
    "info": {
      "title": "Seam Connect",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://connect.getseam.com"
      }
    ],
    "tags": [
      {
        "name": "/access_codes",
        "description": "access_codes"
      },
      {
        "name": "/acs",
        "description": "acs"
      },
      {
        "name": "/action_attempts",
        "description": "action_attempts"
      },
      {
        "name": "/client_sessions",
        "description": "client_sessions"
      },
      {
        "name": "/connected_accounts",
        "description": "connected_accounts"
      },
      {
        "name": "/connect_webviews",
        "description": "connect_webviews"
      },
      {
        "name": "/devices",
        "description": "devices"
      },
      {
        "name": "/events",
        "description": "events"
      },
      {
        "name": "/health",
        "description": "health"
      },
      {
        "name": "/locks",
        "description": "locks"
      },
      {
        "name": "/networks",
        "description": "networks"
      },
      {
        "name": "/noise_sensors",
        "description": "noise_sensors"
      },
      {
        "name": "/phones",
        "description": "phones"
      },
      {
        "name": "/thermostats",
        "description": "thermostats"
      },
      {
        "name": "/user_identities",
        "description": "user_identities"
      },
      {
        "name": "/webhooks",
        "description": "webhooks"
      },
      {
        "name": "/workspaces",
        "description": "workspaces"
      }
    ],
    "paths": {
      "/access_codes/create": {
        "post": {
          "x-title": "Create an Access Code",
          "x-response-key": "access_code",
          "x-action-attempt-type": "CREATE_ACCESS_CODE",
          "summary": "/access_codes/create",
          "description": "Creates a new [access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes).",
          "operationId": "accessCodesCreatePost",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "access_code": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["action_attempt", "access_code", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session_with_customer": []
            },
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the device for which you want to create the new access code."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the new access code. Enables administrators and users to identify the access code easily, especially when there are numerous access codes.\n\n       Note that the name provided on Seam is used to identify the code on Seam and is not necessarily the name that will appear in the lock provider's app or on the device. This is because lock providers may have constraints on names, such as length, uniqueness, or characters that can be used. In addition, some lock providers may break down names into components such as `first_name` and `last_name`.\n\n       To provide a consistent experience, Seam identifies the code on Seam by its name but may modify the name that appears on the lock provider's app or on the device. For example, Seam may add additional characters or truncate the name to meet provider constraints.\n\n       To help your users identify codes set by Seam, Seam provides the name exactly as it appears on the lock provider's app or on the device as a separate property called `appearance`. This is an object with a `name` property and, optionally, `first_name` and `last_name` properties (for providers that break down a name into components)."
                    },
                    "starts_at": {
                      "description": "Date and time at which the validity of the new access code starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                      "type": "string"
                    },
                    "ends_at": {
                      "description": "Date and time at which the validity of the new access code ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Must be a time in the future and after `starts_at`.",
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$",
                      "description": "Code to be used for access."
                    },
                    "sync": {
                      "default": false,
                      "type": "boolean",
                      "x-undocumented": "Only used internally."
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "common_code_key": {
                      "type": "string",
                      "description": "Key to identify access codes that should have the same code. Any two access codes with the same `common_code_key` are guaranteed to have the same `code`. See also [Creating and Updating Multiple Linked Access Codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/creating-and-updating-multiple-linked-access-codes)."
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean",
                      "description": "Indicates whether [native scheduling](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#native-scheduling) should be used for time-bound codes when supported by the provider. Default: `true`."
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean",
                      "description": "Indicates whether to use a [backup access code pool](https://docs.seam.co/latest/core-concepts/access-codes#backup-access-codes) provided by Seam. If `true`, you can use [`/access_codes/pull_backup_access_code`](https://docs.seam.co/latest/api/access_codes/pull_backup_access_code)."
                    },
                    "allow_external_modification": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "preferred_code_length": {
                      "type": "number",
                      "format": "float",
                      "description": "Preferred code length. Only applicable if you do not specify a `code`. If the affected device does not support the preferred code length, Seam reverts to using the shortest supported code length."
                    },
                    "use_offline_access_code": {
                      "type": "boolean",
                      "deprecated": true,
                      "x-deprecated": "Use `is_offline_access_code` instead."
                    },
                    "is_offline_access_code": {
                      "type": "boolean",
                      "description": "Indicates whether the access code is an [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes)."
                    },
                    "is_one_time_use": {
                      "type": "boolean",
                      "description": "Indicates whether the [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) is a single-use access code."
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": ["1hour", "1day", "1h", "1d"],
                      "description": "Maximum rounding adjustment. To create a daily-bound [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) for devices that support this feature, set this parameter to `1d`."
                    }
                  },
                  "required": ["device_id"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "create",
          "x-fern-sdk-return-value": "access_code"
        }
      },
      "/access_codes/create_multiple": {
        "post": {
          "x-title": "Create Multiple Linked Access Codes",
          "x-response-key": "access_codes",
          "summary": "/access_codes/create_multiple",
          "description": "Creates new [access codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes) that share a common code across multiple devices.\n\nUsers with more than one door lock in a property may want to create groups of linked access codes, all of which have the same code (PIN). For example, a short-term rental host may want to provide guests the same PIN for both a front door lock and a back door lock.\n\nIf you specify a custom code, Seam assigns this custom code to each of the resulting access codes. However, in this case, Seam does not link these access codes together with a `common_code_key`. That is, `common_code_key` remains null for these access codes.\n\nIf you want to change these access codes that are not linked by a `common_code_key`, you cannot use `/access_codes/update_multiple`. However, you can update each of these access codes individually, using `/access_codes/update`.\n\nSee also [Creating and Updating Multiple Linked Access Codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/creating-and-updating-multiple-linked-access-codes).",
          "operationId": "accessCodesCreateMultiplePost",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_codes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/access_code"
                        }
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["access_codes", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "description": "IDs of the devices for which you want to create the new access codes."
                    },
                    "behavior_when_code_cannot_be_shared": {
                      "default": "throw",
                      "type": "string",
                      "enum": ["throw", "create_random_code"],
                      "description": "Desired behavior if any device cannot share a code. If `throw` (default), no access codes will be created if any device cannot share a code. If `create_random_code`, a random code will be created on devices that cannot share a code."
                    },
                    "preferred_code_length": {
                      "type": "number",
                      "format": "float",
                      "description": "Preferred code length. Only applicable if you do not specify a `code`. If the affected device does not support the preferred code length, Seam reverts to using the shortest supported code length."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the new access code. Enables administrators and users to identify the access code easily, especially when there are numerous access codes.\n\n       Note that the name provided on Seam is used to identify the code on Seam and is not necessarily the name that will appear in the lock provider's app or on the device. This is because lock providers may have constraints on names, such as length, uniqueness, or characters that can be used. In addition, some lock providers may break down names into components such as `first_name` and `last_name`.\n\n       To provide a consistent experience, Seam identifies the code on Seam by its name but may modify the name that appears on the lock provider's app or on the device. For example, Seam may add additional characters or truncate the name to meet provider constraints.\n\n       To help your users identify codes set by Seam, Seam provides the name exactly as it appears on the lock provider's app or on the device as a separate property called `appearance`. This is an object with a `name` property and, optionally, `first_name` and `last_name` properties (for providers that break down a name into components)."
                    },
                    "starts_at": {
                      "description": "Date and time at which the validity of the new access code starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                      "type": "string"
                    },
                    "ends_at": {
                      "description": "Date and time at which the validity of the new access code ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Must be a time in the future and after `starts_at`.",
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$",
                      "description": "Code to be used for access."
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean",
                      "description": "Indicates whether [native scheduling](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#native-scheduling) should be used for time-bound codes when supported by the provider. Default: `true`."
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean",
                      "description": "Indicates whether to use a [backup access code pool](https://docs.seam.co/latest/core-concepts/access-codes#backup-access-codes) provided by Seam. If `true`, you can use [`/access_codes/pull_backup_access_code`](https://docs.seam.co/latest/api/access_codes/pull_backup_access_code)."
                    },
                    "allow_external_modification": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "use_offline_access_code": {
                      "type": "boolean",
                      "deprecated": true,
                      "x-deprecated": "Use `is_offline_access_code` instead."
                    },
                    "is_offline_access_code": {
                      "type": "boolean",
                      "description": "Indicates whether the access code is an [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes)."
                    },
                    "is_one_time_use": {
                      "type": "boolean",
                      "description": "Indicates whether the [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) is a single-use access code."
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": ["1hour", "1day", "1h", "1d"],
                      "description": "Maximum rounding adjustment. To create a daily-bound [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) for devices that support this feature, set this parameter to `1d`."
                    }
                  },
                  "required": ["device_ids"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "create_multiple",
          "x-fern-sdk-return-value": "access_codes"
        },
        "put": {
          "x-title": "Create Multiple Linked Access Codes",
          "x-response-key": "access_codes",
          "summary": "/access_codes/create_multiple",
          "description": "Creates new [access codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes) that share a common code across multiple devices.\n\nUsers with more than one door lock in a property may want to create groups of linked access codes, all of which have the same code (PIN). For example, a short-term rental host may want to provide guests the same PIN for both a front door lock and a back door lock.\n\nIf you specify a custom code, Seam assigns this custom code to each of the resulting access codes. However, in this case, Seam does not link these access codes together with a `common_code_key`. That is, `common_code_key` remains null for these access codes.\n\nIf you want to change these access codes that are not linked by a `common_code_key`, you cannot use `/access_codes/update_multiple`. However, you can update each of these access codes individually, using `/access_codes/update`.\n\nSee also [Creating and Updating Multiple Linked Access Codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/creating-and-updating-multiple-linked-access-codes).",
          "operationId": "accessCodesCreateMultiplePut",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_codes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/access_code"
                        }
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["access_codes", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "description": "IDs of the devices for which you want to create the new access codes."
                    },
                    "behavior_when_code_cannot_be_shared": {
                      "default": "throw",
                      "type": "string",
                      "enum": ["throw", "create_random_code"],
                      "description": "Desired behavior if any device cannot share a code. If `throw` (default), no access codes will be created if any device cannot share a code. If `create_random_code`, a random code will be created on devices that cannot share a code."
                    },
                    "preferred_code_length": {
                      "type": "number",
                      "format": "float",
                      "description": "Preferred code length. Only applicable if you do not specify a `code`. If the affected device does not support the preferred code length, Seam reverts to using the shortest supported code length."
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the new access code. Enables administrators and users to identify the access code easily, especially when there are numerous access codes.\n\n       Note that the name provided on Seam is used to identify the code on Seam and is not necessarily the name that will appear in the lock provider's app or on the device. This is because lock providers may have constraints on names, such as length, uniqueness, or characters that can be used. In addition, some lock providers may break down names into components such as `first_name` and `last_name`.\n\n       To provide a consistent experience, Seam identifies the code on Seam by its name but may modify the name that appears on the lock provider's app or on the device. For example, Seam may add additional characters or truncate the name to meet provider constraints.\n\n       To help your users identify codes set by Seam, Seam provides the name exactly as it appears on the lock provider's app or on the device as a separate property called `appearance`. This is an object with a `name` property and, optionally, `first_name` and `last_name` properties (for providers that break down a name into components)."
                    },
                    "starts_at": {
                      "description": "Date and time at which the validity of the new access code starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                      "type": "string"
                    },
                    "ends_at": {
                      "description": "Date and time at which the validity of the new access code ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Must be a time in the future and after `starts_at`.",
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$",
                      "description": "Code to be used for access."
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean",
                      "description": "Indicates whether [native scheduling](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#native-scheduling) should be used for time-bound codes when supported by the provider. Default: `true`."
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean",
                      "description": "Indicates whether to use a [backup access code pool](https://docs.seam.co/latest/core-concepts/access-codes#backup-access-codes) provided by Seam. If `true`, you can use [`/access_codes/pull_backup_access_code`](https://docs.seam.co/latest/api/access_codes/pull_backup_access_code)."
                    },
                    "allow_external_modification": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "use_offline_access_code": {
                      "type": "boolean",
                      "deprecated": true,
                      "x-deprecated": "Use `is_offline_access_code` instead."
                    },
                    "is_offline_access_code": {
                      "type": "boolean",
                      "description": "Indicates whether the access code is an [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes)."
                    },
                    "is_one_time_use": {
                      "type": "boolean",
                      "description": "Indicates whether the [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) is a single-use access code."
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": ["1hour", "1day", "1h", "1d"],
                      "description": "Maximum rounding adjustment. To create a daily-bound [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) for devices that support this feature, set this parameter to `1d`."
                    }
                  },
                  "required": ["device_ids"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "create_multiple",
          "x-fern-sdk-return-value": "access_codes"
        }
      },
      "/access_codes/delete": {
        "delete": {
          "x-title": "Delete an Access Code",
          "x-response-key": null,
          "x-action-attempt-type": "DELETE_ACCESS_CODE",
          "summary": "/access_codes/delete",
          "description": "Deletes an [access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes).",
          "operationId": "accessCodesDeleteDelete",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["action_attempt", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "client_session_with_customer": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "parameters": [
            {
              "name": "device_id",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "uuid",
                "description": "ID of the device for which you want to delete the access code."
              },
              "required": false
            },
            {
              "name": "access_code_id",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "uuid",
                "description": "ID of the access code that you want to delete."
              },
              "required": true
            },
            {
              "name": "sync",
              "in": "query",
              "schema": {
                "default": false,
                "type": "boolean",
                "x-undocumented": "Only used internally."
              },
              "required": false
            }
          ],
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "delete"
        },
        "post": {
          "x-title": "Delete an Access Code",
          "x-response-key": null,
          "x-action-attempt-type": "DELETE_ACCESS_CODE",
          "summary": "/access_codes/delete",
          "description": "Deletes an [access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes).",
          "operationId": "accessCodesDeletePost",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["action_attempt", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "client_session_with_customer": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the device for which you want to delete the access code."
                    },
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the access code that you want to delete."
                    },
                    "sync": {
                      "default": false,
                      "type": "boolean",
                      "x-undocumented": "Only used internally."
                    }
                  },
                  "required": ["access_code_id"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "delete"
        }
      },
      "/access_codes/generate_code": {
        "get": {
          "x-title": "Generate a Code",
          "x-response-key": "generated_code",
          "summary": "/access_codes/generate_code",
          "description": "Generates a code for an [access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes), given a device ID.",
          "operationId": "accessCodesGenerateCodeGet",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "generated_code": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["generated_code", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "parameters": [
            {
              "name": "device_id",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "uuid",
                "description": "ID of the device for which you want to generate a code."
              },
              "required": true
            }
          ],
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "generate_code",
          "x-fern-sdk-return-value": "generated_code"
        },
        "post": {
          "x-title": "Generate a Code",
          "x-response-key": "generated_code",
          "summary": "/access_codes/generate_code",
          "description": "Generates a code for an [access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes), given a device ID.",
          "operationId": "accessCodesGenerateCodePost",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "generated_code": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["generated_code", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the device for which you want to generate a code."
                    }
                  },
                  "required": ["device_id"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "generate_code",
          "x-fern-sdk-return-value": "generated_code"
        }
      },
      "/access_codes/get": {
        "get": {
          "x-title": "Get an Access Code",
          "x-response-key": "access_code",
          "summary": "/access_codes/get",
          "description": "Returns a specified [access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes).\n\nYou must specify either `access_code_id` or both `device_id` and `code`.",
          "operationId": "accessCodesGetGet",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_code": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["access_code", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "access_token": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "client_session": []
            },
            {
              "client_session_with_customer": []
            }
          ],
          "parameters": [
            {
              "name": "device_id",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "uuid",
                "description": "ID of the device containing the access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`."
              }
            },
            {
              "name": "access_code_id",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "uuid",
                "description": "ID of the access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`."
              }
            },
            {
              "name": "code",
              "in": "query",
              "schema": {
                "type": "string",
                "description": "Code of the access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`."
              }
            }
          ],
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "get",
          "x-fern-sdk-return-value": "access_code"
        },
        "post": {
          "x-title": "Get an Access Code",
          "x-response-key": "access_code",
          "summary": "/access_codes/get",
          "description": "Returns a specified [access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes).\n\nYou must specify either `access_code_id` or both `device_id` and `code`.",
          "operationId": "accessCodesGetPost",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_code": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["access_code", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "api_key": []
            },
            {
              "access_token": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "client_session": []
            },
            {
              "client_session_with_customer": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the device containing the access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`."
                    },
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`."
                    },
                    "code": {
                      "type": "string",
                      "description": "Code of the access code that you want to get. You must specify either `access_code_id` or both `device_id` and `code`."
                    }
                  }
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "get",
          "x-fern-sdk-return-value": "access_code"
        }
      },
      "/access_codes/list": {
        "get": {
          "x-title": "List Access Codes",
          "x-response-key": "access_codes",
          "summary": "/access_codes/list",
          "description": "Returns a list of all [access codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes).\n\nSpecify either `device_id` or `access_code_ids`.",
          "operationId": "accessCodesListGet",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_codes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/access_code"
                        }
                      },
                      "pagination": {
                        "$ref": "#/components/schemas/pagination"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["access_codes", "pagination", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "client_session_with_customer": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "parameters": [
            {
              "name": "customer_ids",
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            {
              "name": "device_id",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "uuid",
                "description": "ID of the device for which you want to list access codes. Specify either `device_id` or `access_code_ids`."
              }
            },
            {
              "name": "access_code_ids",
              "in": "query",
              "schema": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "IDs of the access codes that you want to retrieve. Specify either `device_id` or `access_code_ids`."
              }
            },
            {
              "name": "user_identifier_key",
              "in": "query",
              "schema": {
                "type": "string",
                "description": "Your user ID for the user by which to filter access codes."
              }
            },
            {
              "name": "limit",
              "in": "query",
              "schema": {
                "default": 55000,
                "type": "number",
                "format": "float",
                "description": "Numerical limit on the number of access codes to return."
              }
            },
            {
              "name": "page_cursor",
              "in": "query",
              "schema": {
                "description": "Identifies the specific page of results to return, obtained from the previous page's `next_page_cursor`.",
                "type": "string",
                "nullable": true
              }
            }
          ],
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "list",
          "x-fern-sdk-return-value": "access_codes"
        },
        "post": {
          "x-title": "List Access Codes",
          "x-response-key": "access_codes",
          "summary": "/access_codes/list",
          "description": "Returns a list of all [access codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes).\n\nSpecify either `device_id` or `access_code_ids`.",
          "operationId": "accessCodesListPost",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "access_codes": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/access_code"
                        }
                      },
                      "pagination": {
                        "$ref": "#/components/schemas/pagination"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["access_codes", "pagination", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "client_session_with_customer": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      }
                    },
                    "device_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the device for which you want to list access codes. Specify either `device_id` or `access_code_ids`."
                    },
                    "access_code_ids": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "description": "IDs of the access codes that you want to retrieve. Specify either `device_id` or `access_code_ids`."
                    },
                    "user_identifier_key": {
                      "type": "string",
                      "description": "Your user ID for the user by which to filter access codes."
                    },
                    "limit": {
                      "default": 55000,
                      "type": "number",
                      "format": "float",
                      "description": "Numerical limit on the number of access codes to return."
                    },
                    "page_cursor": {
                      "description": "Identifies the specific page of results to return, obtained from the previous page's `next_page_cursor`.",
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "list",
          "x-fern-sdk-return-value": "access_codes"
        }
      },
      "/access_codes/pull_backup_access_code": {
        "post": {
          "x-title": "Pull a Backup Access Code",
          "x-response-key": "access_code",
          "summary": "/access_codes/pull_backup_access_code",
          "description": "Retrieves a backup access code for an [access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes). See also [Managing Backup Access Codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/backup-access-codes).\n\nA backup access code pool is a collection of pre-programmed access codes stored on a device, ready for use. These codes are programmed in addition to the regular access codes on Seam, serving as a safety net for any issues with the primary codes. If there's ever a complication with a primary access code—be it due to intermittent connectivity, manual removal from a device, or provider outages—a backup code can be retrieved. Its end time can then be adjusted to align with the original code, facilitating seamless and uninterrupted access.\n\nYou can pull a backup access code from the pool at any time. These backup codes are guaranteed to work immediately and automatically programmed to be removed from the device after the access code ends.\n\nYou can only pull backup access codes for time-bound access codes.\n\nBefore pulling a backup access code, make sure that the device's `properties.supports_backup_access_code_pool` is `true`. Then, to activate the backup pool, set `use_backup_access_code_pool` to `true` when creating an access code.",
          "operationId": "accessCodesPullBackupAccessCodePost",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "backup_access_code": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "access_code": {
                        "$ref": "#/components/schemas/access_code"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["backup_access_code", "access_code", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the access code for which you want to pull a backup access code."
                    }
                  },
                  "required": ["access_code_id"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "pull_backup_access_code",
          "x-fern-sdk-return-value": "access_code"
        }
      },
      "/access_codes/report_device_constraints": {
        "post": {
          "x-title": "Report Device Access Code Constraints",
          "x-response-key": null,
          "summary": "/access_codes/report_device_constraints",
          "description": "Enables you to report access code-related constraints for a device. Currently, supports reporting supported code length constraints for SmartThings devices.\n\nSpecify either `supported_code_lengths` or `min_code_length`/`max_code_length`.",
          "operationId": "accessCodesReportDeviceConstraintsPost",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "device_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the device for which you want to report constraints."
                    },
                    "supported_code_lengths": {
                      "type": "array",
                      "items": {
                        "type": "integer",
                        "minimum": 4,
                        "maximum": 20
                      },
                      "minItems": 1,
                      "description": "Array of supported code lengths as integers between 4 and 20, inclusive. You can specify either `supported_code_lengths` or `min_code_length`/`max_code_length`."
                    },
                    "min_code_length": {
                      "type": "integer",
                      "minimum": 4,
                      "maximum": 20,
                      "description": "Minimum supported code length as an integer between 4 and 20, inclusive. You can specify either `min_code_length`/`max_code_length` or `supported_code_lengths`."
                    },
                    "max_code_length": {
                      "type": "integer",
                      "minimum": 4,
                      "maximum": 20,
                      "description": "Maximum supported code length as an integer between 4 and 20, inclusive. You can specify either `min_code_length`/`max_code_length` or `supported_code_lengths`."
                    }
                  },
                  "required": ["device_id"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "report_device_constraints"
        }
      },
      "/access_codes/update": {
        "post": {
          "x-title": "Update an Access Code",
          "x-response-key": null,
          "x-action-attempt-type": "UPDATE_ACCESS_CODE",
          "summary": "/access_codes/update",
          "description": "Updates a specified active or upcoming [access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes).\n\nSee also [Modifying Access Codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/modifying-access-codes).",
          "operationId": "accessCodesUpdatePost",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["action_attempt", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "client_session_with_customer": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the new access code. Enables administrators and users to identify the access code easily, especially when there are numerous access codes.\n\n       Note that the name provided on Seam is used to identify the code on Seam and is not necessarily the name that will appear in the lock provider's app or on the device. This is because lock providers may have constraints on names, such as length, uniqueness, or characters that can be used. In addition, some lock providers may break down names into components such as `first_name` and `last_name`.\n\n       To provide a consistent experience, Seam identifies the code on Seam by its name but may modify the name that appears on the lock provider's app or on the device. For example, Seam may add additional characters or truncate the name to meet provider constraints.\n\n       To help your users identify codes set by Seam, Seam provides the name exactly as it appears on the lock provider's app or on the device as a separate property called `appearance`. This is an object with a `name` property and, optionally, `first_name` and `last_name` properties (for providers that break down a name into components)."
                    },
                    "starts_at": {
                      "description": "Date and time at which the validity of the new access code starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                      "type": "string"
                    },
                    "ends_at": {
                      "description": "Date and time at which the validity of the new access code ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Must be a time in the future and after `starts_at`.",
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$",
                      "description": "Code to be used for access."
                    },
                    "sync": {
                      "default": false,
                      "type": "boolean",
                      "x-undocumented": "Only used internally."
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean",
                      "description": "Indicates whether [native scheduling](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#native-scheduling) should be used for time-bound codes when supported by the provider. Default: `true`."
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean",
                      "description": "Indicates whether to use a [backup access code pool](https://docs.seam.co/latest/core-concepts/access-codes#backup-access-codes) provided by Seam. If `true`, you can use [`/access_codes/pull_backup_access_code`](https://docs.seam.co/latest/api/access_codes/pull_backup_access_code)."
                    },
                    "allow_external_modification": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "preferred_code_length": {
                      "type": "number",
                      "format": "float",
                      "description": "Preferred code length. Only applicable if you do not specify a `code`. If the affected device does not support the preferred code length, Seam reverts to using the shortest supported code length."
                    },
                    "use_offline_access_code": {
                      "type": "boolean",
                      "deprecated": true,
                      "x-deprecated": "Use `is_offline_access_code` instead."
                    },
                    "is_offline_access_code": {
                      "type": "boolean",
                      "description": "Indicates whether the access code is an [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes)."
                    },
                    "is_one_time_use": {
                      "type": "boolean",
                      "description": "Indicates whether the [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) is a single-use access code."
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": ["1hour", "1day", "1h", "1d"],
                      "description": "Maximum rounding adjustment. To create a daily-bound [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) for devices that support this feature, set this parameter to `1d`."
                    },
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the access code that you want to update."
                    },
                    "device_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the device containing the access code that you want to update."
                    },
                    "type": {
                      "type": "string",
                      "enum": ["ongoing", "time_bound"],
                      "description": "Type to which you want to convert the access code. To convert a time-bound access code to an ongoing access code, set `type` to `ongoing`. See also [Changing a time-bound access code to permanent access](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/modifying-access-codes#special-case-2-changing-a-time-bound-access-code-to-permanent-access)."
                    },
                    "is_managed": {
                      "type": "boolean",
                      "description": "Indicates whether the access code is managed through Seam. Note that to convert an unmanaged access code into a managed access code, use `/access_codes/unmanaged/convert_to_managed`."
                    }
                  },
                  "required": ["access_code_id"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "update"
        },
        "patch": {
          "x-title": "Update an Access Code",
          "x-response-key": null,
          "x-action-attempt-type": "UPDATE_ACCESS_CODE",
          "summary": "/access_codes/update",
          "description": "Updates a specified active or upcoming [access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes).\n\nSee also [Modifying Access Codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/modifying-access-codes).",
          "operationId": "accessCodesUpdatePatch",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["action_attempt", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "client_session_with_customer": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the new access code. Enables administrators and users to identify the access code easily, especially when there are numerous access codes.\n\n       Note that the name provided on Seam is used to identify the code on Seam and is not necessarily the name that will appear in the lock provider's app or on the device. This is because lock providers may have constraints on names, such as length, uniqueness, or characters that can be used. In addition, some lock providers may break down names into components such as `first_name` and `last_name`.\n\n       To provide a consistent experience, Seam identifies the code on Seam by its name but may modify the name that appears on the lock provider's app or on the device. For example, Seam may add additional characters or truncate the name to meet provider constraints.\n\n       To help your users identify codes set by Seam, Seam provides the name exactly as it appears on the lock provider's app or on the device as a separate property called `appearance`. This is an object with a `name` property and, optionally, `first_name` and `last_name` properties (for providers that break down a name into components)."
                    },
                    "starts_at": {
                      "description": "Date and time at which the validity of the new access code starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                      "type": "string"
                    },
                    "ends_at": {
                      "description": "Date and time at which the validity of the new access code ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Must be a time in the future and after `starts_at`.",
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$",
                      "description": "Code to be used for access."
                    },
                    "sync": {
                      "default": false,
                      "type": "boolean",
                      "x-undocumented": "Only used internally."
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean",
                      "description": "Indicates whether [native scheduling](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#native-scheduling) should be used for time-bound codes when supported by the provider. Default: `true`."
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean",
                      "description": "Indicates whether to use a [backup access code pool](https://docs.seam.co/latest/core-concepts/access-codes#backup-access-codes) provided by Seam. If `true`, you can use [`/access_codes/pull_backup_access_code`](https://docs.seam.co/latest/api/access_codes/pull_backup_access_code)."
                    },
                    "allow_external_modification": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "preferred_code_length": {
                      "type": "number",
                      "format": "float",
                      "description": "Preferred code length. Only applicable if you do not specify a `code`. If the affected device does not support the preferred code length, Seam reverts to using the shortest supported code length."
                    },
                    "use_offline_access_code": {
                      "type": "boolean",
                      "deprecated": true,
                      "x-deprecated": "Use `is_offline_access_code` instead."
                    },
                    "is_offline_access_code": {
                      "type": "boolean",
                      "description": "Indicates whether the access code is an [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes)."
                    },
                    "is_one_time_use": {
                      "type": "boolean",
                      "description": "Indicates whether the [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) is a single-use access code."
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": ["1hour", "1day", "1h", "1d"],
                      "description": "Maximum rounding adjustment. To create a daily-bound [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) for devices that support this feature, set this parameter to `1d`."
                    },
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the access code that you want to update."
                    },
                    "device_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the device containing the access code that you want to update."
                    },
                    "type": {
                      "type": "string",
                      "enum": ["ongoing", "time_bound"],
                      "description": "Type to which you want to convert the access code. To convert a time-bound access code to an ongoing access code, set `type` to `ongoing`. See also [Changing a time-bound access code to permanent access](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/modifying-access-codes#special-case-2-changing-a-time-bound-access-code-to-permanent-access)."
                    },
                    "is_managed": {
                      "type": "boolean",
                      "description": "Indicates whether the access code is managed through Seam. Note that to convert an unmanaged access code into a managed access code, use `/access_codes/unmanaged/convert_to_managed`."
                    }
                  },
                  "required": ["access_code_id"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "update"
        },
        "put": {
          "x-title": "Update an Access Code",
          "x-response-key": null,
          "x-action-attempt-type": "UPDATE_ACCESS_CODE",
          "summary": "/access_codes/update",
          "description": "Updates a specified active or upcoming [access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes).\n\nSee also [Modifying Access Codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/modifying-access-codes).",
          "operationId": "accessCodesUpdatePut",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "action_attempt": {
                        "$ref": "#/components/schemas/action_attempt"
                      },
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["action_attempt", "ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "client_session_with_customer": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Name of the new access code. Enables administrators and users to identify the access code easily, especially when there are numerous access codes.\n\n       Note that the name provided on Seam is used to identify the code on Seam and is not necessarily the name that will appear in the lock provider's app or on the device. This is because lock providers may have constraints on names, such as length, uniqueness, or characters that can be used. In addition, some lock providers may break down names into components such as `first_name` and `last_name`.\n\n       To provide a consistent experience, Seam identifies the code on Seam by its name but may modify the name that appears on the lock provider's app or on the device. For example, Seam may add additional characters or truncate the name to meet provider constraints.\n\n       To help your users identify codes set by Seam, Seam provides the name exactly as it appears on the lock provider's app or on the device as a separate property called `appearance`. This is an object with a `name` property and, optionally, `first_name` and `last_name` properties (for providers that break down a name into components)."
                    },
                    "starts_at": {
                      "description": "Date and time at which the validity of the new access code starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                      "type": "string"
                    },
                    "ends_at": {
                      "description": "Date and time at which the validity of the new access code ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Must be a time in the future and after `starts_at`.",
                      "type": "string"
                    },
                    "code": {
                      "type": "string",
                      "minLength": 4,
                      "maxLength": 9,
                      "pattern": "^\\d+$",
                      "description": "Code to be used for access."
                    },
                    "sync": {
                      "default": false,
                      "type": "boolean",
                      "x-undocumented": "Only used internally."
                    },
                    "attempt_for_offline_device": {
                      "default": true,
                      "type": "boolean"
                    },
                    "prefer_native_scheduling": {
                      "type": "boolean",
                      "description": "Indicates whether [native scheduling](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#native-scheduling) should be used for time-bound codes when supported by the provider. Default: `true`."
                    },
                    "use_backup_access_code_pool": {
                      "type": "boolean",
                      "description": "Indicates whether to use a [backup access code pool](https://docs.seam.co/latest/core-concepts/access-codes#backup-access-codes) provided by Seam. If `true`, you can use [`/access_codes/pull_backup_access_code`](https://docs.seam.co/latest/api/access_codes/pull_backup_access_code)."
                    },
                    "allow_external_modification": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "is_external_modification_allowed": {
                      "type": "boolean",
                      "description": "Indicates whether [external modification](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes#external-modification) of the code is allowed. Default: `false`."
                    },
                    "preferred_code_length": {
                      "type": "number",
                      "format": "float",
                      "description": "Preferred code length. Only applicable if you do not specify a `code`. If the affected device does not support the preferred code length, Seam reverts to using the shortest supported code length."
                    },
                    "use_offline_access_code": {
                      "type": "boolean",
                      "deprecated": true,
                      "x-deprecated": "Use `is_offline_access_code` instead."
                    },
                    "is_offline_access_code": {
                      "type": "boolean",
                      "description": "Indicates whether the access code is an [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes)."
                    },
                    "is_one_time_use": {
                      "type": "boolean",
                      "description": "Indicates whether the [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) is a single-use access code."
                    },
                    "max_time_rounding": {
                      "default": "1hour",
                      "type": "string",
                      "enum": ["1hour", "1day", "1h", "1d"],
                      "description": "Maximum rounding adjustment. To create a daily-bound [offline access code](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/offline-access-codes) for devices that support this feature, set this parameter to `1d`."
                    },
                    "access_code_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the access code that you want to update."
                    },
                    "device_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of the device containing the access code that you want to update."
                    },
                    "type": {
                      "type": "string",
                      "enum": ["ongoing", "time_bound"],
                      "description": "Type to which you want to convert the access code. To convert a time-bound access code to an ongoing access code, set `type` to `ongoing`. See also [Changing a time-bound access code to permanent access](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/modifying-access-codes#special-case-2-changing-a-time-bound-access-code-to-permanent-access)."
                    },
                    "is_managed": {
                      "type": "boolean",
                      "description": "Indicates whether the access code is managed through Seam. Note that to convert an unmanaged access code into a managed access code, use `/access_codes/unmanaged/convert_to_managed`."
                    }
                  },
                  "required": ["access_code_id"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "update"
        }
      },
      "/access_codes/update_multiple": {
        "post": {
          "x-title": "Update Multiple Linked Access Codes",
          "x-response-key": null,
          "summary": "/access_codes/update_multiple",
          "description": "Updates [access codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes) that share a common code across multiple devices.\n\nSpecify the `common_code_key` to identify the set of access codes that you want to update.\n\nSee also [Update Linked Access Codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/creating-and-updating-multiple-linked-access-codes#update-linked-access-codes).",
          "operationId": "accessCodesUpdateMultiplePost",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ends_at": {
                      "description": "Date and time at which the validity of the new access code ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Must be a time in the future and after `starts_at`.",
                      "type": "string"
                    },
                    "starts_at": {
                      "description": "Date and time at which the validity of the new access code starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the new access code. Enables administrators and users to identify the access code easily, especially when there are numerous access codes.\n\n       Note that the name provided on Seam is used to identify the code on Seam and is not necessarily the name that will appear in the lock provider's app or on the device. This is because lock providers may have constraints on names, such as length, uniqueness, or characters that can be used. In addition, some lock providers may break down names into components such as `first_name` and `last_name`.\n\n       To provide a consistent experience, Seam identifies the code on Seam by its name but may modify the name that appears on the lock provider's app or on the device. For example, Seam may add additional characters or truncate the name to meet provider constraints.\n\n       To help your users identify codes set by Seam, Seam provides the name exactly as it appears on the lock provider's app or on the device as a separate property called `appearance`. This is an object with a `name` property and, optionally, `first_name` and `last_name` properties (for providers that break down a name into components)."
                    },
                    "common_code_key": {
                      "type": "string",
                      "description": "Key that links the group of access codes, assigned on creation by `/access_codes/create_multiple`."
                    }
                  },
                  "required": ["common_code_key"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "update_multiple"
        },
        "patch": {
          "x-title": "Update Multiple Linked Access Codes",
          "x-response-key": null,
          "summary": "/access_codes/update_multiple",
          "description": "Updates [access codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes) that share a common code across multiple devices.\n\nSpecify the `common_code_key` to identify the set of access codes that you want to update.\n\nSee also [Update Linked Access Codes](https://docs.seam.co/latest/capability-guides/smart-locks/access-codes/creating-and-updating-multiple-linked-access-codes#update-linked-access-codes).",
          "operationId": "accessCodesUpdateMultiplePatch",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "client_session": []
            },
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ends_at": {
                      "description": "Date and time at which the validity of the new access code ends, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format. Must be a time in the future and after `starts_at`.",
                      "type": "string"
                    },
                    "starts_at": {
                      "description": "Date and time at which the validity of the new access code starts, in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of the new access code. Enables administrators and users to identify the access code easily, especially when there are numerous access codes.\n\n       Note that the name provided on Seam is used to identify the code on Seam and is not necessarily the name that will appear in the lock provider's app or on the device. This is because lock providers may have constraints on names, such as length, uniqueness, or characters that can be used. In addition, some lock providers may break down names into components such as `first_name` and `last_name`.\n\n       To provide a consistent experience, Seam identifies the code on Seam by its name but may modify the name that appears on the lock provider's app or on the device. For example, Seam may add additional characters or truncate the name to meet provider constraints.\n\n       To help your users identify codes set by Seam, Seam provides the name exactly as it appears on the lock provider's app or on the device as a separate property called `appearance`. This is an object with a `name` property and, optionally, `first_name` and `last_name` properties (for providers that break down a name into components)."
                    },
                    "common_code_key": {
                      "type": "string",
                      "description": "Key that links the group of access codes, assigned on creation by `/access_codes/create_multiple`."
                    }
                  },
                  "required": ["common_code_key"]
                }
              }
            }
          },
          "tags": ["/access_codes"],
          "x-fern-sdk-group-name": ["access_codes"],
          "x-fern-sdk-method-name": "update_multiple"
        }
      },
      "/access_methods/delete": {
        "delete": {
          "x-title": "Delete an Access Method",
          "x-response-key": null,
          "x-draft": "Early access.",
          "summary": "/access_methods/delete",
          "description": "Deletes an access method.",
          "operationId": "accessMethodsDeleteDelete",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "parameters": [
            {
              "name": "access_method_id",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "uuid",
                "description": "ID of access method to get."
              },
              "required": true
            }
          ],
          "tags": [],
          "x-fern-sdk-group-name": ["access_methods"],
          "x-fern-sdk-method-name": "delete"
        },
        "post": {
          "x-title": "Delete an Access Method",
          "x-response-key": null,
          "x-draft": "Early access.",
          "summary": "/access_methods/delete",
          "description": "Deletes an access method.",
          "operationId": "accessMethodsDeletePost",
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "ok": {
                        "type": "boolean"
                      }
                    },
                    "required": ["ok"]
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request"
            },
            "401": {
              "description": "Unauthorized"
            }
          },
          "security": [
            {
              "pat_with_workspace": []
            },
            {
              "console_session_with_workspace": []
            },
            {
              "api_key": []
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_method_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID of access method to get."
                    }
                  },
                  "required": ["access_method_id"]
                }
              }
            }
[...]
